<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kris.edu.app.user.dao.UserMapper">

    <insert id="addNewUser">
      insert into
      t_user
      (username,nickname,password)
      values
      (#{username},#{nickname},#{password})
    </insert>

    <select id="selectUserCount" resultType="java.lang.Integer">
        select
        count(1)
        FROM
        t_user
    </select>

    <select id="selectUserList" resultType="com.kris.edu.app.user.bean.UserBean">
        select
        *
        from
        t_user
    </select>

    <select id="validateUser" resultType="com.kris.edu.app.user.bean.UserBean">
       select
       *
       from
       t_user
       where
       username=#{usernameEnCode}
    </select>

</mapper>